In [1]:
import pandas as pd
import numpy as np

In [2]:
stores = pd.read_excel("C:/Users/DELL/Desktop/DS_Vikas_Class/Python_Class1/Retail_data.xlsx" , sheet_name = 'storesdata')

In [4]:
stores.columns.to_list()

['Code',
 'StoreType',
 'OperatingCost',
 'Total_Sales',
 'Total_Customers',
 'Segment',
 'Total number of estb',
 'Product line sales as % of total sales']

In [3]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2,Apparel,21.0,5037027,110,4,2515,5.7
2,3,Super Market,22.8,1437362017,93,1,200112,5.9
3,4,Super Market,21.4,1495953548,110,1,229623,4.6
4,5,Super Market,18.7,1883321582,175,2,270472,24.7

In [13]:
stores.tail()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
29,30,Apparel,19.7,393363810,175,4,17840,4.2
30,31,Apparel,15.0,1115016252,335,4,125658,7.5
31,32,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31,Apparel,15.0,1115016252,335,4,125658,7.5
33,32,Electronincs,21.4,1237304404,109,2,123206,6.4

In [5]:
stores.shape

(34, 8)

In [6]:
stores.shape[0]

34

In [7]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Code                                    34 non-null     int64
 1   StoreType                               34 non-null     object
 2   OperatingCost                           34 non-null     float64
 3   Total_Sales                             34 non-null     int64
 4   Total_Customers                         34 non-null     int64
 5   Segment                                 34 non-null     int64
 6   Total number of estb                    34 non-null     int64
 7   Product line sales as % of total sales  34 non-null     float64
dtypes: float64(2), int64(5), object(1)
memory usage: 2.2+ KB

In [8]:
stores.dtypes.value_counts()

int64      5
float64    2
object     1
dtype: int64

In [9]:
stores.Total_Sales.mean() , stores.Total_Sales.median()

(976465554.7647059, 961670525.5)

In [10]:
stores.Total_Customers.dtypes

dtype('int64')

In [11]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2,Apparel,21.0,5037027,110,4,2515,5.7
2,3,Super Market,22.8,1437362017,93,1,200112,5.9
3,4,Super Market,21.4,1495953548,110,1,229623,4.6
4,5,Super Market,18.7,1883321582,175,2,270472,24.7

In [12]:
# loc gets rows (and/or columns) with particular labels.

# iloc gets rows (and/or columns) at integer locations

## loc[ rows, columns]
## loc[logic, 1:5]


stores.loc[:,"StoreType"]

0     Electronincs
1          Apparel
2     Super Market
3     Super Market
4     Super Market
5          Apparel
6          Apparel
7     Electronincs
8     Electronincs
9          Apparel
10    Super Market
11    Super Market
12    Super Market
13         Apparel
14         Apparel
15    Electronincs
16    Electronincs
17         Apparel
18    Super Market
19    Super Market
20    Super Market
21         Apparel
22         Apparel
23    Electronincs
24    Electronincs
25         Apparel
26    Super Market
27    Super Market
28    Super Market
29         Apparel
30         Apparel
31    Electronincs
32         Apparel
33    Electronincs
Name: StoreType, dtype: object

In [13]:
stores.iloc[:,1:8]

,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,Apparel,21.0,5037027,110,4,2515,5.7
2,Super Market,22.8,1437362017,93,1,200112,5.9
3,Super Market,21.4,1495953548,110,1,229623,4.6
4,Super Market,18.7,1883321582,175,2,270472,24.7
5,Apparel,18.1,1420570094,105,1,176345,2.5
6,Apparel,14.3,1374569510,245,4,176243,2.4
7,Electronincs,24.4,1094166173,62,2,147960,6.9
8,Electronincs,22.8,1182772215,95,2,193713,13.3
9,Apparel,19.2,891982615,123,4,106941,4.2
10,Super Market,17.8,427475654,123,4,34619,0.8
11,Super Market,16.4,1101543654,180,3,161210,5.8
12,Super Market,17.3,397305098,180,3,28056,1.5
13,Apparel,15.2,960625804,180,3,67150,3.3
14,Apparel,10.4,665220823,205,4,44954,5.6
15,Electronincs,10.4,1070859930,215,4,86686,1.3
16,Electronincs,14.7,755438818,230,4,66825,5.2
17,Apparel,32.4,953515932,66,1,79578,2.9
18,Super Market,30.4,962715247,52,2,92225,7.4
19,Super Market,33.9,660175220,65,1,50812,4.1
20,Super Market,21.5,672255327,97,1,53500,12.1
21,Apparel,15.5,1333254147,150,2,168897,4.3
22,Apparel,15.2,877566947,150,2,134880,5.8
23,Electronincs,13.3,812748470,245,4,81065,2.1
24,Electronincs,19.2,766522079,175,2,44545,1.1
25,Apparel,27.3,1099171980,66,1,131837,3.0
26,Super Market,26.0,711375353,91,2,57339,2.0
27,Super Market,30.4,886631610,113,2,74480,5.4
28,Super Market,15.8,22212234,264,4,4238,59.2
29,Apparel,19.7,393363810,175,4,17840,4.2
30,Apparel,15.0,1115016252,335,4,125658,7.5
31,Electronincs,21.4,1237304404,109,2,123206,6.4
32,Apparel,15.0,1115016252,335,4,125658,7.5
33,Electronincs,21.4,1237304404,109,2,123206,6.4

In [14]:
stores.iloc[1:3,1:4]

      StoreType  OperatingCost  Total_Sales
1       Apparel           21.0      5037027
2  Super Market           22.8   1437362017

In [15]:
stores.iloc[[1,2,10,11] , [0,1,5]]

    Code     StoreType  Segment
1      2       Apparel        4
2      3  Super Market        1
10    11  Super Market        4
11    12  Super Market        3

In [16]:
s1 = pd.Series([2434,56778,1234,"A","C"], index=[49, 48, 47, 0, 1])
s1

49     2434
48    56778
47     1234
0         A
1         C
dtype: object

In [17]:
s1.loc[0]

'A'

In [18]:
s1.iloc[0]

2434

In [19]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2,Apparel,21.0,5037027,110,4,2515,5.7
2,3,Super Market,22.8,1437362017,93,1,200112,5.9
3,4,Super Market,21.4,1495953548,110,1,229623,4.6
4,5,Super Market,18.7,1883321582,175,2,270472,24.7

In [20]:
### Renaming of columns

# df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})

stores1 = stores.rename(columns={"Code":"Store_Code" , "OperatingCost":"Op_Cost"})
stores1.head()

,Store_Code,StoreType,Op_Cost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2,Apparel,21.0,5037027,110,4,2515,5.7
2,3,Super Market,22.8,1437362017,93,1,200112,5.9
3,4,Super Market,21.4,1495953548,110,1,229623,4.6
4,5,Super Market,18.7,1883321582,175,2,270472,24.7

In [21]:
### adding new col.
### method 1
stores['sales_per_cust'] = stores.Total_Sales / stores.Total_Customers

In [22]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,sales_per_cust
0,1,Electronincs,21.0,2179474632,110,4,361300,29.6,1.981341e+07
1,2,Apparel,21.0,5037027,110,4,2515,5.7,4.579115e+04
2,3,Super Market,22.8,1437362017,93,1,200112,5.9,1.545551e+07
3,4,Super Market,21.4,1495953548,110,1,229623,4.6,1.359958e+07
4,5,Super Market,18.7,1883321582,175,2,270472,24.7,1.076184e+07

In [23]:
### method 2

stores = stores.assign(sales_per_cust1 = stores.Total_Sales / stores.Total_Customers)

In [24]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,sales_per_cust,sales_per_cust1
0,1,Electronincs,21.0,2179474632,110,4,361300,29.6,1.981341e+07,1.981341e+07
1,2,Apparel,21.0,5037027,110,4,2515,5.7,4.579115e+04,4.579115e+04
2,3,Super Market,22.8,1437362017,93,1,200112,5.9,1.545551e+07,1.545551e+07
3,4,Super Market,21.4,1495953548,110,1,229623,4.6,1.359958e+07,1.359958e+07
4,5,Super Market,18.7,1883321582,175,2,270472,24.7,1.076184e+07,1.076184e+07

In [25]:
## where condition

## where(logic,T,F)

x = -10
print(np.where(x > 0, "positive","negative"))

negative

In [26]:
stores.head()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,sales_per_cust,sales_per_cust1
0,1,Electronincs,21.0,2179474632,110,4,361300,29.6,1.981341e+07,1.981341e+07
1,2,Apparel,21.0,5037027,110,4,2515,5.7,4.579115e+04,4.579115e+04
2,3,Super Market,22.8,1437362017,93,1,200112,5.9,1.545551e+07,1.545551e+07
3,4,Super Market,21.4,1495953548,110,1,229623,4.6,1.359958e+07,1.359958e+07
4,5,Super Market,18.7,1883321582,175,2,270472,24.7,1.076184e+07,1.076184e+07

In [27]:
### binning - converting a continuous variable into categorical var.

stores['stores_level'] = np.where(stores['Total number of estb']<10000, 'Low',
                                  
                                  np.where((stores['Total number of estb']>=10000)  & (stores['Total number of estb']<30000),
                                           
                                           'Medium', 'High'))

In [28]:
stores.head(20)

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,sales_per_cust,sales_per_cust1,stores_level
0,1,Electronincs,21.0,2179474632,110,4,361300,29.6,1.981341e+07,1.981341e+07,High
1,2,Apparel,21.0,5037027,110,4,2515,5.7,4.579115e+04,4.579115e+04,Low
2,3,Super Market,22.8,1437362017,93,1,200112,5.9,1.545551e+07,1.545551e+07,High
3,4,Super Market,21.4,1495953548,110,1,229623,4.6,1.359958e+07,1.359958e+07,High
4,5,Super Market,18.7,1883321582,175,2,270472,24.7,1.076184e+07,1.076184e+07,High
5,6,Apparel,18.1,1420570094,105,1,176345,2.5,1.352924e+07,1.352924e+07,High
6,7,Apparel,14.3,1374569510,245,4,176243,2.4,5.610488e+06,5.610488e+06,High
7,8,Electronincs,24.4,1094166173,62,2,147960,6.9,1.764784e+07,1.764784e+07,High
8,9,Electronincs,22.8,1182772215,95,2,193713,13.3,1.245023e+07,1.245023e+07,High
9,10,Apparel,19.2,891982615,123,4,106941,4.2,7.251891e+06,7.251891e+06,High
10,11,Super Market,17.8,427475654,123,4,34619,0.8,3.475412e+06,3.475412e+06,High
11,12,Super Market,16.4,1101543654,180,3,161210,5.8,6.119687e+06,6.119687e+06,High
12,13,Super Market,17.3,397305098,180,3,28056,1.5,2.207251e+06,2.207251e+06,Medium
13,14,Apparel,15.2,960625804,180,3,67150,3.3,5.336810e+06,5.336810e+06,High
14,15,Apparel,10.4,665220823,205,4,44954,5.6,3.244980e+06,3.244980e+06,High
15,16,Electronincs,10.4,1070859930,215,4,86686,1.3,4.980744e+06,4.980744e+06,High
16,17,Electronincs,14.7,755438818,230,4,66825,5.2,3.284517e+06,3.284517e+06,High
17,18,Apparel,32.4,953515932,66,1,79578,2.9,1.444721e+07,1.444721e+07,High
18,19,Super Market,30.4,962715247,52,2,92225,7.4,1.851375e+07,1.851375e+07,High
19,20,Super Market,33.9,660175220,65,1,50812,4.1,1.015654e+07,1.015654e+07,High

In [29]:
# Applying conditions on a dataframe using loc[,]

stores.loc[stores.StoreType == "Super Market" , ["StoreType","OperatingCost"]]

       StoreType  OperatingCost
2   Super Market           22.8
3   Super Market           21.4
4   Super Market           18.7
10  Super Market           17.8
11  Super Market           16.4
12  Super Market           17.3
18  Super Market           30.4
19  Super Market           33.9
20  Super Market           21.5
26  Super Market           26.0
27  Super Market           30.4
28  Super Market           15.8

In [30]:
stores.loc[((stores.OperatingCost > 20) & (stores.OperatingCost < 30)) & ((stores.StoreType == "Super Market")|(stores.StoreType == "Electronincs")) , ["StoreType","OperatingCost"]]

       StoreType  OperatingCost
0   Electronincs           21.0
2   Super Market           22.8
3   Super Market           21.4
7   Electronincs           24.4
8   Electronincs           22.8
20  Super Market           21.5
26  Super Market           26.0
31  Electronincs           21.4
33  Electronincs           21.4

In [31]:
### sort the df

Sort2 = stores.sort_values(by = "OperatingCost")
Sort2

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,sales_per_cust,sales_per_cust1,stores_level
15,16,Electronincs,10.4,1070859930,215,4,86686,1.3,4.980744e+06,4.980744e+06,High
14,15,Apparel,10.4,665220823,205,4,44954,5.6,3.244980e+06,3.244980e+06,High
23,24,Electronincs,13.3,812748470,245,4,81065,2.1,3.317341e+06,3.317341e+06,High
6,7,Apparel,14.3,1374569510,245,4,176243,2.4,5.610488e+06,5.610488e+06,High
16,17,Electronincs,14.7,755438818,230,4,66825,5.2,3.284517e+06,3.284517e+06,High
30,31,Apparel,15.0,1115016252,335,4,125658,7.5,3.328407e+06,3.328407e+06,High
32,31,Apparel,15.0,1115016252,335,4,125658,7.5,3.328407e+06,3.328407e+06,High
13,14,Apparel,15.2,960625804,180,3,67150,3.3,5.336810e+06,5.336810e+06,High
22,23,Apparel,15.2,877566947,150,2,134880,5.8,5.850446e+06,5.850446e+06,High
21,22,Apparel,15.5,1333254147,150,2,168897,4.3,8.888361e+06,8.888361e+06,High
28,29,Super Market,15.8,22212234,264,4,4238,59.2,8.413725e+04,8.413725e+04,Low
11,12,Super Market,16.4,1101543654,180,3,161210,5.8,6.119687e+06,6.119687e+06,High
12,13,Super Market,17.3,397305098,180,3,28056,1.5,2.207251e+06,2.207251e+06,Medium
10,11,Super Market,17.8,427475654,123,4,34619,0.8,3.475412e+06,3.475412e+06,High
5,6,Apparel,18.1,1420570094,105,1,176345,2.5,1.352924e+07,1.352924e+07,High
4,5,Super Market,18.7,1883321582,175,2,270472,24.7,1.076184e+07,1.076184e+07,High
24,25,Electronincs,19.2,766522079,175,2,44545,1.1,4.380126e+06,4.380126e+06,High
9,10,Apparel,19.2,891982615,123,4,106941,4.2,7.251891e+06,7.251891e+06,High
29,30,Apparel,19.7,393363810,175,4,17840,4.2,2.247793e+06,2.247793e+06,Medium
0,1,Electronincs,21.0,2179474632,110,4,361300,29.6,1.981341e+07,1.981341e+07,High
1,2,Apparel,21.0,5037027,110,4,2515,5.7,4.579115e+04,4.579115e+04,Low
3,4,Super Market,21.4,1495953548,110,1,229623,4.6,1.359958e+07,1.359958e+07,High
31,32,Electronincs,21.4,1237304404,109,2,123206,6.4,1.135142e+07,1.135142e+07,High
33,32,Electronincs,21.4,1237304404,109,2,123206,6.4,1.135142e+07,1.135142e+07,High
20,21,Super Market,21.5,672255327,97,1,53500,12.1,6.930467e+06,6.930467e+06,High
8,9,Electronincs,22.8,1182772215,95,2,193713,13.3,1.245023e+07,1.245023e+07,High
2,3,Super Market,22.8,1437362017,93,1,200112,5.9,1.545551e+07,1.545551e+07,High
7,8,Electronincs,24.4,1094166173,62,2,147960,6.9,1.764784e+07,1.764784e+07,High
26,27,Super Market,26.0,711375353,91,2,57339,2.0,7.817312e+06,7.817312e+06,High
25,26,Apparel,27.3,1099171980,66,1,131837,3.0,1.665412e+07,1.665412e+07,High
18,19,Super Market,30.4,962715247,52,2,92225,7.4,1.851375e+07,1.851375e+07,High
27,28,Super Market,30.4,886631610,113,2,74480,5.4,7.846297e+06,7.846297e+06,High
17,18,Apparel,32.4,953515932,66,1,79578,2.9,1.444721e+07,1.444721e+07,High
19,20,Super Market,33.9,660175220,65,1,50812,4.1,1.015654e+07,1.015654e+07,High

In [32]:
Sort2 = stores.sort_values(by = "OperatingCost", ascending=False)
Sort2

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,sales_per_cust,sales_per_cust1,stores_level
19,20,Super Market,33.9,660175220,65,1,50812,4.1,1.015654e+07,1.015654e+07,High
17,18,Apparel,32.4,953515932,66,1,79578,2.9,1.444721e+07,1.444721e+07,High
18,19,Super Market,30.4,962715247,52,2,92225,7.4,1.851375e+07,1.851375e+07,High
27,28,Super Market,30.4,886631610,113,2,74480,5.4,7.846297e+06,7.846297e+06,High
25,26,Apparel,27.3,1099171980,66,1,131837,3.0,1.665412e+07,1.665412e+07,High
26,27,Super Market,26.0,711375353,91,2,57339,2.0,7.817312e+06,7.817312e+06,High
7,8,Electronincs,24.4,1094166173,62,2,147960,6.9,1.764784e+07,1.764784e+07,High
2,3,Super Market,22.8,1437362017,93,1,200112,5.9,1.545551e+07,1.545551e+07,High
8,9,Electronincs,22.8,1182772215,95,2,193713,13.3,1.245023e+07,1.245023e+07,High
20,21,Super Market,21.5,672255327,97,1,53500,12.1,6.930467e+06,6.930467e+06,High
31,32,Electronincs,21.4,1237304404,109,2,123206,6.4,1.135142e+07,1.135142e+07,High
33,32,Electronincs,21.4,1237304404,109,2,123206,6.4,1.135142e+07,1.135142e+07,High
3,4,Super Market,21.4,1495953548,110,1,229623,4.6,1.359958e+07,1.359958e+07,High
0,1,Electronincs,21.0,2179474632,110,4,361300,29.6,1.981341e+07,1.981341e+07,High
1,2,Apparel,21.0,5037027,110,4,2515,5.7,4.579115e+04,4.579115e+04,Low
29,30,Apparel,19.7,393363810,175,4,17840,4.2,2.247793e+06,2.247793e+06,Medium
24,25,Electronincs,19.2,766522079,175,2,44545,1.1,4.380126e+06,4.380126e+06,High
9,10,Apparel,19.2,891982615,123,4,106941,4.2,7.251891e+06,7.251891e+06,High
4,5,Super Market,18.7,1883321582,175,2,270472,24.7,1.076184e+07,1.076184e+07,High
5,6,Apparel,18.1,1420570094,105,1,176345,2.5,1.352924e+07,1.352924e+07,High
10,11,Super Market,17.8,427475654,123,4,34619,0.8,3.475412e+06,3.475412e+06,High
12,13,Super Market,17.3,397305098,180,3,28056,1.5,2.207251e+06,2.207251e+06,Medium
11,12,Super Market,16.4,1101543654,180,3,161210,5.8,6.119687e+06,6.119687e+06,High
28,29,Super Market,15.8,22212234,264,4,4238,59.2,8.413725e+04,8.413725e+04,Low
21,22,Apparel,15.5,1333254147,150,2,168897,4.3,8.888361e+06,8.888361e+06,High
22,23,Apparel,15.2,877566947,150,2,134880,5.8,5.850446e+06,5.850446e+06,High
13,14,Apparel,15.2,960625804,180,3,67150,3.3,5.336810e+06,5.336810e+06,High
30,31,Apparel,15.0,1115016252,335,4,125658,7.5,3.328407e+06,3.328407e+06,High
32,31,Apparel,15.0,1115016252,335,4,125658,7.5,3.328407e+06,3.328407e+06,High
16,17,Electronincs,14.7,755438818,230,4,66825,5.2,3.284517e+06,3.284517e+06,High
6,7,Apparel,14.3,1374569510,245,4,176243,2.4,5.610488e+06,5.610488e+06,High
23,24,Electronincs,13.3,812748470,245,4,81065,2.1,3.317341e+06,3.317341e+06,High
15,16,Electronincs,10.4,1070859930,215,4,86686,1.3,4.980744e+06,4.980744e+06,High
14,15,Apparel,10.4,665220823,205,4,44954,5.6,3.244980e+06,3.244980e+06,High

In [33]:
Sort4 = stores.sort_values(by = ["OperatingCost","Total number of estb"],ascending=[True,False])
Sort4

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,sales_per_cust,sales_per_cust1,stores_level
15,16,Electronincs,10.4,1070859930,215,4,86686,1.3,4.980744e+06,4.980744e+06,High
14,15,Apparel,10.4,665220823,205,4,44954,5.6,3.244980e+06,3.244980e+06,High
23,24,Electronincs,13.3,812748470,245,4,81065,2.1,3.317341e+06,3.317341e+06,High
6,7,Apparel,14.3,1374569510,245,4,176243,2.4,5.610488e+06,5.610488e+06,High
16,17,Electronincs,14.7,755438818,230,4,66825,5.2,3.284517e+06,3.284517e+06,High
30,31,Apparel,15.0,1115016252,335,4,125658,7.5,3.328407e+06,3.328407e+06,High
32,31,Apparel,15.0,1115016252,335,4,125658,7.5,3.328407e+06,3.328407e+06,High
22,23,Apparel,15.2,877566947,150,2,134880,5.8,5.850446e+06,5.850446e+06,High
13,14,Apparel,15.2,960625804,180,3,67150,3.3,5.336810e+06,5.336810e+06,High
21,22,Apparel,15.5,1333254147,150,2,168897,4.3,8.888361e+06,8.888361e+06,High
28,29,Super Market,15.8,22212234,264,4,4238,59.2,8.413725e+04,8.413725e+04,Low
11,12,Super Market,16.4,1101543654,180,3,161210,5.8,6.119687e+06,6.119687e+06,High
12,13,Super Market,17.3,397305098,180,3,28056,1.5,2.207251e+06,2.207251e+06,Medium
10,11,Super Market,17.8,427475654,123,4,34619,0.8,3.475412e+06,3.475412e+06,High
5,6,Apparel,18.1,1420570094,105,1,176345,2.5,1.352924e+07,1.352924e+07,High
4,5,Super Market,18.7,1883321582,175,2,270472,24.7,1.076184e+07,1.076184e+07,High
9,10,Apparel,19.2,891982615,123,4,106941,4.2,7.251891e+06,7.251891e+06,High
24,25,Electronincs,19.2,766522079,175,2,44545,1.1,4.380126e+06,4.380126e+06,High
29,30,Apparel,19.7,393363810,175,4,17840,4.2,2.247793e+06,2.247793e+06,Medium
0,1,Electronincs,21.0,2179474632,110,4,361300,29.6,1.981341e+07,1.981341e+07,High
1,2,Apparel,21.0,5037027,110,4,2515,5.7,4.579115e+04,4.579115e+04,Low
3,4,Super Market,21.4,1495953548,110,1,229623,4.6,1.359958e+07,1.359958e+07,High
31,32,Electronincs,21.4,1237304404,109,2,123206,6.4,1.135142e+07,1.135142e+07,High
33,32,Electronincs,21.4,1237304404,109,2,123206,6.4,1.135142e+07,1.135142e+07,High
20,21,Super Market,21.5,672255327,97,1,53500,12.1,6.930467e+06,6.930467e+06,High
2,3,Super Market,22.8,1437362017,93,1,200112,5.9,1.545551e+07,1.545551e+07,High
8,9,Electronincs,22.8,1182772215,95,2,193713,13.3,1.245023e+07,1.245023e+07,High
7,8,Electronincs,24.4,1094166173,62,2,147960,6.9,1.764784e+07,1.764784e+07,High
26,27,Super Market,26.0,711375353,91,2,57339,2.0,7.817312e+06,7.817312e+06,High
25,26,Apparel,27.3,1099171980,66,1,131837,3.0,1.665412e+07,1.665412e+07,High
18,19,Super Market,30.4,962715247,52,2,92225,7.4,1.851375e+07,1.851375e+07,High
27,28,Super Market,30.4,886631610,113,2,74480,5.4,7.846297e+06,7.846297e+06,High
17,18,Apparel,32.4,953515932,66,1,79578,2.9,1.444721e+07,1.444721e+07,High
19,20,Super Market,33.9,660175220,65,1,50812,4.1,1.015654e+07,1.015654e+07,High

In [34]:
### number of missing values

stores.isnull().sum()

Code                                      0
StoreType                                 0
OperatingCost                             0
Total_Sales                               0
Total_Customers                           0
Segment                                   0
Total number of estb                      0
Product line sales as % of total sales    0
sales_per_cust                            0
sales_per_cust1                           0
stores_level                              0
dtype: int64

In [35]:
###s2 = stores[stores.sales_per_cust.isnull()]

In [36]:
## copy the df
stores1 = stores
stores1

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,sales_per_cust,sales_per_cust1,stores_level
0,1,Electronincs,21.0,2179474632,110,4,361300,29.6,1.981341e+07,1.981341e+07,High
1,2,Apparel,21.0,5037027,110,4,2515,5.7,4.579115e+04,4.579115e+04,Low
2,3,Super Market,22.8,1437362017,93,1,200112,5.9,1.545551e+07,1.545551e+07,High
3,4,Super Market,21.4,1495953548,110,1,229623,4.6,1.359958e+07,1.359958e+07,High
4,5,Super Market,18.7,1883321582,175,2,270472,24.7,1.076184e+07,1.076184e+07,High
5,6,Apparel,18.1,1420570094,105,1,176345,2.5,1.352924e+07,1.352924e+07,High
6,7,Apparel,14.3,1374569510,245,4,176243,2.4,5.610488e+06,5.610488e+06,High
7,8,Electronincs,24.4,1094166173,62,2,147960,6.9,1.764784e+07,1.764784e+07,High
8,9,Electronincs,22.8,1182772215,95,2,193713,13.3,1.245023e+07,1.245023e+07,High
9,10,Apparel,19.2,891982615,123,4,106941,4.2,7.251891e+06,7.251891e+06,High
10,11,Super Market,17.8,427475654,123,4,34619,0.8,3.475412e+06,3.475412e+06,High
11,12,Super Market,16.4,1101543654,180,3,161210,5.8,6.119687e+06,6.119687e+06,High
12,13,Super Market,17.3,397305098,180,3,28056,1.5,2.207251e+06,2.207251e+06,Medium
13,14,Apparel,15.2,960625804,180,3,67150,3.3,5.336810e+06,5.336810e+06,High
14,15,Apparel,10.4,665220823,205,4,44954,5.6,3.244980e+06,3.244980e+06,High
15,16,Electronincs,10.4,1070859930,215,4,86686,1.3,4.980744e+06,4.980744e+06,High
16,17,Electronincs,14.7,755438818,230,4,66825,5.2,3.284517e+06,3.284517e+06,High
17,18,Apparel,32.4,953515932,66,1,79578,2.9,1.444721e+07,1.444721e+07,High
18,19,Super Market,30.4,962715247,52,2,92225,7.4,1.851375e+07,1.851375e+07,High
19,20,Super Market,33.9,660175220,65,1,50812,4.1,1.015654e+07,1.015654e+07,High
20,21,Super Market,21.5,672255327,97,1,53500,12.1,6.930467e+06,6.930467e+06,High
21,22,Apparel,15.5,1333254147,150,2,168897,4.3,8.888361e+06,8.888361e+06,High
22,23,Apparel,15.2,877566947,150,2,134880,5.8,5.850446e+06,5.850446e+06,High
23,24,Electronincs,13.3,812748470,245,4,81065,2.1,3.317341e+06,3.317341e+06,High
24,25,Electronincs,19.2,766522079,175,2,44545,1.1,4.380126e+06,4.380126e+06,High
25,26,Apparel,27.3,1099171980,66,1,131837,3.0,1.665412e+07,1.665412e+07,High
26,27,Super Market,26.0,711375353,91,2,57339,2.0,7.817312e+06,7.817312e+06,High
27,28,Super Market,30.4,886631610,113,2,74480,5.4,7.846297e+06,7.846297e+06,High
28,29,Super Market,15.8,22212234,264,4,4238,59.2,8.413725e+04,8.413725e+04,Low
29,30,Apparel,19.7,393363810,175,4,17840,4.2,2.247793e+06,2.247793e+06,Medium
30,31,Apparel,15.0,1115016252,335,4,125658,7.5,3.328407e+06,3.328407e+06,High
31,32,Electronincs,21.4,1237304404,109,2,123206,6.4,1.135142e+07,1.135142e+07,High
32,31,Apparel,15.0,1115016252,335,4,125658,7.5,3.328407e+06,3.328407e+06,High
33,32,Electronincs,21.4,1237304404,109,2,123206,6.4,1.135142e+07,1.135142e+07,High

In [37]:
### duplicated records

stores_duplicated = stores.loc[stores.duplicated(),]
stores_duplicated

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales,sales_per_cust,sales_per_cust1,stores_level
32,31,Apparel,15.0,1115016252,335,4,125658,7.5,3.328407e+06,3.328407e+06,High
33,32,Electronincs,21.4,1237304404,109,2,123206,6.4,1.135142e+07,1.135142e+07,High

In [38]:
# Drop duplicates

stores_1 = stores.drop_duplicates()

In [39]:
#stores = stores.drop_duplicates()

In [40]:
stores_duplicated = stores_1.loc[stores.duplicated(),]
stores_duplicated

Empty DataFrame
Columns: [Code, StoreType, OperatingCost, Total_Sales, Total_Customers, Segment, Total number of estb, Product line sales as % of total sales, sales_per_cust, sales_per_cust1, stores_level]
Index: []